.upload-container {
    margin: auto;
    width: 600px;
    height: 350px;
    border: 2px solid #707070;
    margin-top: 4em;
    border-radius: 10%;
    background: linear-gradient(to right, #9b59b6, #f48fb1);
    color: white;
}

.upload-container section {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    /* width: 80%; */
}


/* .post--btn {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.author-location {
    display: flex;
    justify-content: space-between;
    margin-left: 2.7em;
    margin-right: 2.7em;
}

#author {
    width: 280px;
    height: 32px;
}

#location {
    width: 200px;
    height: 32px;
}

#description {
    width: 500px;
    height: 100px;
}

input[type="file"] {
    display: none;
}

.img-upload {
    width: 10rem;
    border: 1px solid rgb(112, 216, 213);
}

.author-location input {
    width: 15rem;
    border: 1px solid black;
}

textarea {
    min-height: 58px;
    max-height: 85px;
}

.fa-cloud-upload {
    color: black;
}

.fa-cloud-upload:hover {
    color: aliceblue;
}

.post-btn button {
    width: 5rem;
    height: 3rem;
    border-radius: 30%;
    border: 1px solid #9b59b6;
    font-weight: 600;
}

.post-btn button:hover {
    font-weight: 600;
    color: #fff;
    background: black
}

.alert-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(11, 230, 95);
}