main {
    margin: auto;
    width: 450px;
    /* border: 1px solid grey; */
}

.mains-head {
    display: flex;
    justify-content: space-between;
}

.map-listing {
    border: 1px solid rgb(227, 222, 222);
    border-radius: 8px;
    padding: 0.4em 0.5em 0.4em 0.5em;
    margin: 10px 4px 17px 4px;
    box-shadow: 1px 2px 2px 1px grey;

}

.name_location-text {
    line-height: 0.5rem;

}

h4 {
    color: grey;
    margin-left: 1 em;
}

h3 {
    float: left;
}

.like_save-icons {
    display: flex;
    justify-content: space-between;
}

.share-icon-flex {
    display: flex;
    gap: 1em;

}

.date {
    margin-top: 1px;
}

.count-likes {
    display: block;
    float: left;
    /* margin-top: 0px; */
    /* line-height: 0.2rem; */
}

h5 {
    font-size: 1em;
    display: flex;
    justify-content: left;
}

.image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.image-s {
    /* flex-shrink: 0; */
    min-width: 100%;
    min-height: 100%;
}

.share {
    color: rgb(20, 22, 24);
}